<div id="side-menu">
    {{ msg }}
</div>

<script>
    jssor_slider1_starter = function (containerId) {
        var options = {
            $AutoPlay: false,                                   //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            $DragOrientation: 1                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
        };

        var jssor_slider1 = new $JssorSlider$(containerId, options);
        $(function(){
            $("#search-box").focus();
        });
    };
</script>

<div id="profile-container" class="card">
    <div class="btn-context btn-context-right btn-context-left-arrow">
    </div>
    <div class="header back-orange">
        <button class="btn" id="ButtonRandom">
            RANDOM
        </button>
        <h3>Your Journey Profile</h3>
    </div>
    <div id="profile" class="content">
        <div id="flights-type-container" style="position: relative; top: 0px; left: 0px; width: 200px; height: 92px;">
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 200px; height: 92px;">
                <div><img u="image" src="images/assets/flights/budget.png"  class="img-responsive"/></div>
                <div><img u="image" src="images/assets/flights/comfort.png"  class="img-responsive"/></div>
                <div><img u="image" src="images/assets/flights/luxury.png"  class="img-responsive"/></div>
            </div>
            <input type="hidden" id="flights-type">
        </div>


        <div id="hotels-type-container" style="position: relative; top: 0px; left: 0px; width: 200px; height: 92px;">
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 200px; height: 92px;">
                <div><img u="image" src="images/assets/hotels/budget.png"  class="img-responsive"/></div>
                <div><img u="image" src="images/assets/hotels/comfort.png"  class="img-responsive"/></div>
                <div><img u="image" src="images/assets/hotels/luxury.png"  class="img-responsive"/></div>
            </div>
            <input type="hidden" id="hotels-type">
        </div>

        <div id="transport-type-container" style="position: relative; top: 0px; left: 0px; width: 200px; height: 92px;">
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 200px; height: 92px;">
                <div><img u="image" src="images/assets/transport/budget.png"  class="img-responsive"/></div>
                <div><img u="image" src="images/assets/transport/comfort.png"  class="img-responsive"/></div>
                <div><img u="image" src="images/assets/transport/luxury.png"  class="img-responsive"/></div>
            </div>
            <input type="hidden" id="transport-type">
        </div>
    </div>

</div>
<div id="trip-list" class="card">
    <div class="btn-context btn-context-right btn-context-left-arrow">
    </div>
    <div class="header">
        <button id="addTrip" class="btn" ng-click="createTrip(null)">
            <img src="images/btn_plus.png" height="10px" width="10px" class="spin">
        </button>
        <h3>Your Journey</h3>
    </div>
    <div class="content">
        <div class="list">
            <div ng-repeat="trip in trips" ng-click="setSelectedTrip(trip)" ng-class="{'table-row-selected': trip==selectedTrip}">
                {{ trip.name }}
            </div>
        </div>
    </div>
</div>

<div id="search-container">
    <input type="text" placeholder="Where do you want to go?" id="search-box">
    <span class="glyphicon glyphicon-search"></span>
</div>
<div id="city-list">

</div>

<div id="trip-detail">

</div>
<div id="result-container">
    <div class="header">
        <h3>$10,1000</h3>
        <p>For your 35 day trip to London, Paris and Rome next March.</p>
    </div>
    <div class="content">
        <div class="list" style="max-height: 400px; overflow: auto; position: relative;">
            <div ng-repeat="segment in selectedTrip.segments">
                {{ segment.getName() }}
            </div>
        </div>
        <div class="container-fluid">
            <button class="btn btn-primary btn-block">BOOK NOW</button>
            <button class="btn btn-block btn-share"><img src="images/facebook-logo.png" height="20px" style="margin-right: 10px;">Share with your friends!</button>
        </div>

    </div>
</div>

<div class="container-fluid" id="map-container">
    <div id="map-canvas"></div>
</div>

<!-- Trigger -->
<script>
    jssor_slider1_starter('flights-type-container');
    jssor_slider1_starter('hotels-type-container');
    jssor_slider1_starter('transport-type-container');
</script>

<script src="vendors/Application.js"></script>
<script src="vendors/perfect-scrollbar.min.js"></script>
<!--<script src="vendors/perfect-scrollbar.min.js" type="application/javascript"></script>-->
