html, body{
    height:100%;
    width: 100%;
}

#body-content {
    padding: 0;
    margin: 0;
    height: 100%;
}

#navigation-bar {
    padding: 0;
    margin: 0;
}

#content {
    height: 100%;
    width: 100%;
    padding: 0;
    padding-top: 51px;
}

#side-menu {
    height: 100%;
    width: 30%;
    float: left;
    background: #ffffff;
}

#map-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(82, 82, 82, 0.15);
}

#map-canvas {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

#clicked-menu {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border: 5px solid rgba(0, 0, 0, 0.498039);
    box-sizing: border-box;
    color: #331312;
    cursor: move;
    display: block;
    font-size: 12px;
    overflow: visible;
    position: absolute;
    visibility: visible;
    z-index: 256;
}

.clicked-menu-item {
    border: 5px;
    box-sizing: border-box;
    color: #333333;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-size: 12px;
    height: 24px;
    padding: 5px;
    text-align: center;
    visibility: visible;
}

.table-row-selected {
    background-color: blue;
}

.selectable-table {
    border: 1px solid black;
}

.selectable-table th, td {
    border: 1px solid black;
}