@import "variables.less";
@import "mixin.less";

html, body {
    height: 100%;
    width: 100%;
}

body {
    //font-family: 'Cabin', sans-serif;
    //font-family: 'Varela Round', sans-serif;
    font-family: 'Nunito', sans-serif;
    color: #333;
}

#navigation-bar {
    display: none;
}

#map-canvas {
    position: fixed!important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


#profile-container {
    position: fixed;
    z-index: 999;
    top: @base-margin;
    left: @base-margin;
    width: 200px;
    background: white;
    .Radius(@base-radius);
    &:hover {
        #ButtonRandom {
            top: 6px;
            opacity: 1;
        }
    }
    .btn-context {
        //right: -30px;
        top: 38px;
        &:hover {
            right: -40px;
        }
    }
}

#profile-container.card-hide, #trip-list.card-hide {
        -webkit-animation: hide-left 1s; /* Chrome, Safari, Opera */
        animation: hide-left 5s;
        left: -165px;
    }

/* Chrome, Safari, Opera */
@-webkit-keyframes hide-left {
    0% {
        left: @base-margin;
    }
    25% {
        left: 20px;
    }
    80% {
        left: -185px;
    }
    100% {
        left: -165px;
    }
}

/* Standard syntax */
@keyframes myfirst {
    0% {
        left: @base-margin;
    }
    25% {
        left: 20px;
    }
    80% {
        left: -185px;
    }
    100% {
        left: -165px;
    }
}

.header {
    padding: @base-margin;
    h3 {
        color: white;
        margin: 0;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
    }
    overflow: hidden;
    background: orange;
    .btn {
        box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 0px 1px rgba(0,0,0,.05);
    }
    &:hover {
        .btn {
            height: 38px!important;
            width: 200px!important;
            margin: 0;
            border-radius: 0;
            top: 0!important;
            left: 0!important;
            box-shadow: inset 0 -3px #CFD8DC!important;
            border-top-left-radius: @base-radius;
            border-top-right-radius: @base-radius;
        }
        #addTrip.btn {
            spin {
                top: 19px;
                left: 95px;
            }
        }
    }
}

#trip-list {
    position: fixed;
    z-index: 999;
    left: 10px;
    top: 334px;
    background: white;
    width: 200px;
    .Radius(@base-radius);
    .card;
    .header {
        h3 {
            opacity: 1;
            .Transition;    
        }
        #addTrip {
            position: absolute;
            background: white;
            height: 26px;
            width: 26px;
            z-index: 1001;
            color: @orange;
            text-align: center;
            padding: 0;
            left: 104px;
            top: 19px;
            height: 0px;
            width: 0px;
            box-shadow: none;
            background: none;
            overflow: hidden;
            .Transition;
            .spin {
                position: absolute;
                height: 0px;
                width: 0px;
                top: 8px;
                left: 8px;
                height: 0px;
                width: 0px;
                -ms-transform: rotate(60deg); /* IE 9 */
                -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
                transform: rotate(300deg);    
            }
        }
        &:hover {
            #addTrip {
                .spin {
                    top: 14px;
                    left: 95px;
                }
            }
        }
    }
    &:hover {
        #addTrip {
            opacity: 1;
            height: 26px;
            width: 26px;
            background: white;
            left: 90px;
            top: 5px;
            box-shadow: 0 1px 1px rgba(0,0,0,.2);
            .spin {
                height: 10px;
                width: 10px;
                top: 8px;
                left: 8px;
                -ms-transform: rotate(0deg); /* IE 9 */
                -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
                transform: rotate(0deg);
            }
            
        }
        h3 {
            opacity: 0;
        }
    }
}

#search-container {
    position: fixed;
    z-index: 999;
    background: white;
    top: 10px;
    left: 250px;
    .Radius(6px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2),0 4px 15px -5px rgba(0,0,0,0.0);
    padding-left: 35px;
    overflow: hidden;
    font-size: 20px;
    color: rgba(0,0,0,.1);
    .Transition;
    &:hover {
        box-shadow: 0 10px 24px rgba(0,0,0,0.3),0 8px 30px -2px rgba(0,0,0,0.0);
        .glyphicon-search {
            color: @orange;
        }
    }
    #search-box {
        min-width: 600px;
        padding: 10px 15px;
        border: 0;
        outline: none;
        color: #333;
    }
    .glyphicon-search {
        position: absolute;
        left: 15px;
        top: 14px;
        .Transition;
    }
}

#city-list {
    position: fixed;
    top: 58px;
    opacity: 0;
    background-image: url("../images/city-list.png");
    background-position: center top;
    background-size: 100% auto;
    height: 500px;
    z-index: -1;
    .Radius(@base-radius);
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    .Transition;
}

#city-list.show {
    z-index: 999;
    top: 68px;
    opacity: 1;
}

#trip-detail {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top-left-radius: @base-margin;
    border-top-right-radius: @base-margin;
    .card;
    background: #263238;
    border-radius: 0;
    box-shadow: inset 0px 10px 20px rgba(0,0,0,.1);
}

#result-container {
    position: fixed;
    z-index: 999;
    right: @base-margin;
    top: @base-margin;
    width: 300px;
    background: white;
    .card;
    .header {
        padding: 20px;
        h3 {
            font-size: 30px;
            margin: 10px 0;
        }
        p {
            text-align: center;
            color: rgba(0,0,0,.5);
            font-size: 16px;
        }
    }
    .container-fluid {
        padding-top: @base-margin;
        padding-bottom: @base-margin;
    }
}

.card {
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    .Radius(@base-radius);
    .Transition;
    &:hover {
       .BoxShadow(3); 
    }
    .header {
        border-top-left-radius: @base-radius;
        border-top-right-radius: @base-radius;
        overflow: hidden;
    }
    .content {
        border-bottom-left-radius: @base-radius;
        border-bottom-right-radius: @base-radius;
        overflow: hidden;
        position: relative;
        z-index: 999;
    }
    .btn-context {
        z-index: -1;
    }
}


.btn {
    .Radius(999px);
}

.btn-primary {
    background: #5C90FA;
    border-color: #5C90FA;
}

.btn-share {
    background: white;
    color: #5C90FA;
}

#ButtonRandom {
    position: absolute;
    top: 8px;
    left: 25px;
    width: 150px;
    padding: 5px;
    line-height: 1;
    opacity: 0;
    background: white;
    color: @orange;
    .Transition;
}

.profile-content {
    width: 100%;
}

.list {    
    div {
        cursor: pointer;
        padding: @base-margin 20px;
        background: white;
        &:hover {
            background: #ECEFF1;
        }
    }
    div + div {
        border-top: 1px solid rgba(0,0,0,.05);
    }
    div.table-row-selected {
        background: #5C90FA;
        color: white;
    }
} 

.btn-context {
    padding: 20px 5px;
    background: white;
    position: absolute;
    cursor: pointer;
    .Transition;
    top: 38px;
    &:hover {
        .BoxShadow(3);
    }
}

.btn-context.btn-context-right {
    right: -35px;
    border-top-right-radius: @base-radius;
    border-bottom-right-radius: @base-radius;
    box-shadow: inset 2px 0px 2px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.1);
    &:hover {
        right: -40px;
        box-shadow: inset 2px 0px 2px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
    }
}

.btn-context-left-arrow {
    &:after {
        content: "";
        background: url("../images/left-arrow.png");
        display: block;
        height: 30px;
        width: 30px;
    }
}

.btn-context-right-arrow {
    &:after {
        content: "";
        background: url("../images/right-arrow.png");
        display: block;
        height: 30px;
        width: 30px;
    }
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,.5);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,.5);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,.5);
}

:-ms-input-placeholder {  
   color: rgba(0,0,0,.5);
}