/* CSS crunched with Crunch - http://crunchapp.net/ */
.Transition {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Nunito', sans-serif;
  color: #333;
}
#navigation-bar {
  display: none;
}
#map-canvas {
  position: fixed!important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#profile-container {
  position: fixed;
  z-index: 999;
  top: 10px;
  left: 10px;
  width: 200px;
  background: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#profile-container:hover #ButtonRandom {
  top: 6px;
  opacity: 1;
}
#profile-container .btn-context {
  top: 38px;
}
#profile-container .btn-context:hover {
  right: -40px;
}
#profile-container.card-hide,
#trip-list.card-hide {
  -webkit-animation: hide-left 1s;
  /* Chrome, Safari, Opera */
  animation: hide-left 5s;
  left: -165px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes hide-left {
  0% {
    left: 10px;
  }
  25% {
    left: 20px;
  }
  80% {
    left: -185px;
  }
  100% {
    left: -165px;
  }
}
/* Standard syntax */
@keyframes myfirst {
  0% {
    left: 10px;
  }
  25% {
    left: 20px;
  }
  80% {
    left: -185px;
  }
  100% {
    left: -165px;
  }
}
.header {
  padding: 10px;
  overflow: hidden;
  background: orange;
}
.header h3 {
  color: white;
  margin: 0;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.header .btn {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0px 1px rgba(0, 0, 0, 0.05);
}
.header:hover .btn {
  height: 38px!important;
  width: 200px!important;
  margin: 0;
  border-radius: 0;
  top: 0!important;
  left: 0!important;
  box-shadow: inset 0 -3px #cfd8dc !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.header:hover #addTrip.btn spin {
  top: 19px;
  left: 95px;
}
#trip-list {
  position: fixed;
  z-index: 999;
  left: 10px;
  top: 334px;
  width: 200px;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
#trip-list:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#trip-list .header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}
#trip-list .content {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
#trip-list .btn-context {
  z-index: -1;
}
#trip-list .header h3 {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
#trip-list .header #addTrip {
  position: absolute;
  background: white;
  height: 26px;
  width: 26px;
  z-index: 1001;
  color: #efa55a;
  text-align: center;
  padding: 0;
  left: 104px;
  top: 19px;
  height: 0px;
  width: 0px;
  box-shadow: none;
  background: none;
  overflow: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
#trip-list .header #addTrip .spin {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 0px;
  width: 0px;
  -ms-transform: rotate(60deg);
  /* IE 9 */
  -webkit-transform: rotate(60deg);
  /* Chrome, Safari, Opera */
  transform: rotate(300deg);
}
#trip-list .header:hover #addTrip .spin {
  top: 14px;
  left: 95px;
}
#trip-list:hover #addTrip {
  opacity: 1;
  height: 26px;
  width: 26px;
  background: white;
  left: 90px;
  top: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#trip-list:hover #addTrip .spin {
  height: 10px;
  width: 10px;
  top: 8px;
  left: 8px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
#trip-list:hover h3 {
  opacity: 0;
}
#search-container {
  position: fixed;
  z-index: 999;
  background: white;
  top: 10px;
  left: 250px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 15px -5px rgba(0, 0, 0, 0);
  padding-left: 35px;
  overflow: hidden;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.1);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
#search-container:hover {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3), 0 8px 30px -2px rgba(0, 0, 0, 0);
}
#search-container:hover .glyphicon-search {
  color: #efa55a;
}
#search-container #search-box {
  min-width: 600px;
  padding: 10px 15px;
  border: 0;
  outline: none;
  color: #333;
}
#search-container .glyphicon-search {
  position: absolute;
  left: 15px;
  top: 14px;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
#city-list {
  position: fixed;
  top: 58px;
  opacity: 0;
  background-image: url("../images/city-list.png");
  background-position: center top;
  background-size: 100% auto;
  height: 500px;
  z-index: -1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
#city-list.show {
  z-index: 999;
  top: 68px;
  opacity: 1;
}
#trip-detail {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  background: #263238;
  border-radius: 0;
  box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.1);
}
#trip-detail:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#trip-detail .header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}
#trip-detail .content {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
#trip-detail .btn-context {
  z-index: -1;
}
#result-container {
  position: fixed;
  z-index: 999;
  right: 10px;
  top: 10px;
  width: 300px;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
#result-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#result-container .header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}
#result-container .content {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
#result-container .btn-context {
  z-index: -1;
}
#result-container .header {
  padding: 20px;
}
#result-container .header h3 {
  font-size: 30px;
  margin: 10px 0;
}
#result-container .header p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
#result-container .container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}
.card {
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card .header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}
.card .content {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
.card .btn-context {
  z-index: -1;
}
.btn {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.btn-primary {
  background: #5C90FA;
  border-color: #5C90FA;
}
.btn-share {
  background: white;
  color: #5C90FA;
}
#ButtonRandom {
  position: absolute;
  top: 8px;
  left: 25px;
  width: 150px;
  padding: 5px;
  line-height: 1;
  opacity: 0;
  background: white;
  color: #efa55a;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.profile-content {
  width: 100%;
}
.list div {
  cursor: pointer;
  padding: 10px 20px;
  background: white;
}
.list div:hover {
  background: #ECEFF1;
}
.list div + div {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.list div.table-row-selected {
  background: #5C90FA;
  color: white;
}
.btn-context {
  padding: 20px 5px;
  background: white;
  position: absolute;
  cursor: pointer;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  top: 38px;
}
.btn-context:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.btn-context.btn-context-right {
  right: -35px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 2px 0px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-context.btn-context-right:hover {
  right: -40px;
  box-shadow: inset 2px 0px 2px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}
.btn-context-left-arrow:after {
  content: "";
  background: url("../images/left-arrow.png");
  display: block;
  height: 30px;
  width: 30px;
}
.btn-context-right-arrow:after {
  content: "";
  background: url("../images/right-arrow.png");
  display: block;
  height: 30px;
  width: 30px;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5);
}
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
